.navbar-nav li a{
    font-size :17px;
}
.navbar-nav li a:hover{
    color: #007bff;
}




.navbar-brand{
    letter-spacing:2px ;
    padding-left: 10px;
}

.navbar-brand:hover{
    color: #007bff;
}

.navbar-nav {
    flex: 1;
  }
  
  .navbar-nav.ms-auto {
    justify-content: flex-end;
  }